<header class="hero" role="banner">
	<div class="top">
		<div class="title">
			<a href="/">Mindless Rambling Nonsense</a>
		</div>
		<div class="separator"></div>
		<div class="name">
			<div class="row">
				<div>Paul D'Ambra</div>
					<a href="https://github.com/pauldambra" rel="noopener">
						<img src="/images/GitHub-Mark-Light-32px.png" alt="pauldambra on github" width="32" height="32">
					</a>
			</div>
			<div class="row">
				<div>Fangler</div>
					<a href="https://twitter.com/pauldambra" rel="noopener">
						<img src="/images/twitter-32.png" alt="pauldambra on twitter" width="32" height="32">
					</a>
			</div>
		</div>
	</div>
	<div class="separator"></div>
	<div class="bottom">
		<nav role="navigation">
			<a href="/">Blog Posts</a>
			<a href="/weeknotes.html">Week Notes</a>
		</nav>
	</div>
</header>
