<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'report-sample' 'self' https://app.posthog.com/static/array.js https://www.googletagmanager.com/gtag/js; style-src 'report-sample' 'self' https://fonts.googleapis.com; object-src 'none'; base-uri 'self'; connect-src 'self' https://app.posthog.com; font-src 'self'; frame-src 'self'; img-src 'self'; manifest-src 'self'; media-src 'self'; report-uri https://pauldambra.report-uri.com/r/d/csp/enforce; worker-src 'self';" />
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/images/icons/icon-152x152.png">
    <!-- theme-color defines the top bar color-->
    <meta name="theme-color" content="#575757"/>

    <!-- Add to home screen for Safari on iOS-->
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta name="apple-mobile-web-app-title" content="MiRaNo"/>
    <link rel="apple-touch-icon" href="/images/icons/icon-152x152.png"/>

    <!-- Add to home screen for Windows-->
    <meta name="msapplication-TileImage" content="/images/icons/icon-152x152.png"/>
    <meta name="msapplication-TileColor" content="#575757"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <meta property="og:url"          content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type"         content="article" />
    <meta property="og:title"        content="{{ page.title }}" />
    <meta property="og:description"  content="{{ page.description | default: 'a blog about software engineering' }}" />
    <meta property="og:image"        content="{{ site.url }}{{page.card_image}}" />
    <meta name="twitter:card" content="summary_large_image"></meta>
    <meta name="twitter:creator" content="@pauldambra" />
    <meta property="fb:app_id"       content="{{ site.facebook_id }}" />
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{page.description | default: 'a blog about software engineering' }}">
    <meta property="fb:pages" content="1029758320473951" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | relative_url }}">
    <meta name="msvalidate.01" content="54691C3C7B863CEE60F0305D6EDFF7A8" />
    <meta name="google-site-verification" content="hLKEdujpXNQ9PSZWEcQkwxCgL2z1tWxVedeaUmttH7c" />
    {% include posthog_init.html %}
  </head>
  <body class="flex flex-col h-full">
    <header class="hero h-24" role="banner"></header>
    <main role="main" class="bg-white p-4 w-11/12 m-auto flex-auto">
      {{ content }}
    </main>

    <script defer src="/register-service-worker.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Khula&display=swap" rel="stylesheet">

  </body>
</html>
