---
layout: default
comments: false
---

{% 
	include structuredData.html 
	headline=page.title
	genre=page.category
	keywords=page.keywords
	content=page.content
	link=page.permalink
	date=page.date
%}
<article>
{% include post_header.html %}
	<div class="post">
		{{ content }}
	</div>
	<div id="squeak-root"></div>
	<script>
	(function() {
		window.squeak = {
			supabase: {
				apiKey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4aXBrcXV2d3FhYXVudXpqb2dlIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NDk3MjE3ODUsImV4cCI6MTk2NTI5Nzc4NX0.SxdOpxHjVwap7sDUptK2TFJl7WK3v3HLuKbzb0JKeKg",
				url: "https://pxipkquvwqaaunuzjoge.supabase.co",
			},
			apiHost: "https://squeak.cloud",
			organizationId: "2e125a32-88de-4968-b458-1d8cf0b8a0c0"
		};
		var d = document,
			s = d.createElement("script");
		s.src = "//dfpw97x0gednn.cloudfront.net/squeak.js";
		(d.head || d.body).appendChild(s);
	})();
	</script>
</article>