---
layout: default
comments: false
---
<div itemscope itemtype="http://schema.org/Recipe">
<!-- ingredients -->
<div class="w-full border rounded p-4 mb-4 mx-2">
<h3 class="mb-2 text-lg border-b-2 border-b-slate-300">Ingredients</h3>
	<ul class="list-none">
	{% for ingredient in page.ingredients %}
	<li itemprop="ingredients">{{ ingredient[1] }} {{ ingredient[0] }}</li>
	{% endfor %}
	</ul>
</div>
<!-- ingredients -->

<!-- instructions -->
<div itemprop="recipeInstructions" class="w-full border rounded p-4 mx-2">
	<h3 class="mb-2 text-lg border-b-2 border-b-slate-300">Instructions</h3>
	<ol class="list-decimal pl-4">
	<li>{{ page.instructions | join: '</li> <li>' }}</li>
	</ol>
</div>
<!-- instructions -->
</div>

{% if page.prepmins or page.cookmins %}
<dl class="dl-horizontal">
	{% if page.prepmins %}<dt>Preparation time</dt><dd>{{ page.prepmins }} mins<span itemprop="prepTime" class="invisible">PT{{ page.prepmins }}M</span></dd>{% endif %}
	{% if page.cookmins %}<dt>Cooking time</dt><dd>{{ page.cookmins }} mins<span itemprop="cookTime" class="invisible">PT{{ page.cookmins }}M</span></dd>{% endif %}
</dl>
{% endif %}

<p class="invisible" itemprop="description">{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}</p>
<!-- recipe post-content -->

{{content}}
</div>