name: Jekyll site CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - uses: dorny/paths-filter@v2
        id: text-changes
        with:
          list-files: shell
          filters: |
            posts:
              - '_posts/**/*.md'
      - name: install dependencies
        if: steps.text-changes.outputs.posts == 'true'
        run: npm ci
      - name: lint spelling
        if: steps.text-changes.outputs.posts == 'true'
        run: npx spellchecker --files ${{ steps.text-changes.outputs.posts_files }} --language en-GB --dictionaries .dictionary --plugins spell frontmatter

  image-optimize:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: dorny/paths-filter@v2
        id: image-changes
        with:
          filters: |
            src:
              - 'images/**/*.*'
      - name: setup dependencies
        if: steps.image-changes.outputs.src == 'true'
        run: |
          sudo apt-get update
          sudo apt-get install libjpeg-progs optipng imagemagick
      - name: image optimisation
        if: steps.image-changes.outputs.src == 'true'
        run: ./imageOptimisation.sh
      - name: upload optimized images
        if: steps.image-changes.outputs.src == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: optimized-images
          path: images/

  build:
    runs-on: ubuntu-latest
    needs: [lint, image-optimize]
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - name: setup dependencies
        run: |
          sudo apt-get update
          sudo apt-get install fonts-noto-color-emoji
      - name: pre build
        run: npm ci
      - name: download optimized images
        uses: actions/download-artifact@v4
        with:
          name: optimized-images
          path: images/
        continue-on-error: true
      - name: get the current state of the site
        uses: actions/checkout@v4
        with:
          repository: pauldambra/pauldambra.github.io
          token: ${{ secrets.blog_repo_access }}
          path: _site
          persist-credentials: false
          fetch-depth: 0
      - name: build site
        run: JEKYLL_ENV=production NODE_ENV=production bundle exec jekyll build --trace
      - name: upload site
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: _site/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: download site
        uses: actions/download-artifact@v4
        with:
          name: site
          path: _site/
      - name: deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.blog_repo_access }}
          external_repository: pauldambra/pauldambra.github.io
          publish_branch: master
          publish_dir: ./_site
          force_orphan: true
          user_name: "Github Actions CI"
          user_email: "paul.dambra+github@actions.com"
          commit_message: "${{env.GITHUB_RUN_ID}} auto-pushed to github"

  test:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: download site
        uses: actions/download-artifact@v4
        with:
          name: site
          path: _site/
      - name: test html
        run: bundle exec ruby ./htmltest.rb
      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            https://pauldambra.dev
            https://pauldambra.dev/2021/07/tech-debts.html
            https://pauldambra.dev/weeknotes/2021/46.html
          budgetPath: ./lighthouse-budget.json
          uploadArtifacts: true
          temporaryPublicStorage: true
